{% extends 'base.html' %}

{% block 'main' %}

<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 mx-auto">

                <form method="POST" action="/add_product">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="tid" class="form-label">Product Name : </label>
                        <input type="text" name="pname" class="form-control" id="tid" placeholder="enter post title">
                    </div>
                    <div class="mb-3">
                        <label for="sid" class="form-label">Shape : </label>
                        <input type="text" name="shape" class="form-control" id="sid" placeholder="enter shape">
                    </div>
                    <div class="mb-3">
                        <label for="sid" class="form-label">Size : </label>
                        <input type="text" name="size" class="form-control" id="sid" placeholder="enter size">
                    </div>
                    <div class="mb-3">
                        <label for="sid" class="form-label">Location : </label>
                        <input type="text" name="loc" class="form-control" id="sid" placeholder="enter location">
                    </div>
                    <div class="mb-3">
                        <label for="sid" class="form-label">Price : </label>
                        <input type="integer" name="price" class="form-control" id="sid" placeholder="enter price">
                    </div>
                    <div class="mb-3">
                        <label for="sid" class="form-label">Image Link : </label>
                        <input type="text" name="img" class="form-control" id="sid" placeholder="enter image link">
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-danger" type="submit">ADD</button>
                    </div>
            
            
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock 'main' %}