{% extends 'base.html' %}

{% block 'main' %}
<main id="main">

    <div class="container">
        <div class="row">
        
            <div class="col-md-2 my-5">
                <a href="/add_user"><button class="btn btn-success">Add User</button></a>  <!-- End of button-->
            </div>

            <div class="col-md-10 my-5">
                <table class="table ">
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Username</th>
                        <th>Password</th>
                        
                        <th>Remove</th>
                    </tr>
                {% for x in data %}
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.age}}</td>
                        <td>{{x.address}}</td>
                        <td>{{x.username}}</td>
                        <td>{{x.password}}</td>
                        
            
                        
                        <td><a href="/remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a></td>
                    </tr>
                {% endfor %}
                </table>
            </div> <!-- End of table-->
                
           

        </div><!-- End of row-->
    </div><!-- End of container-->
</main>
{% endblock 'main' %}

